* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
    font-weight: 400;
}

html{
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
    background: #FFDE59;
    justify-content: center;
    align-items: center;
    display: flex;
}

footer {
    width: 100%;
    background: #131A35;
    justify-content: center;
    display: flex;
}

main {
    width: 100%;
    flex: 1 0;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 11.063rem;
    margin-bottom: 9.125rem;
}

div {
    display: flex;
}

.header_container {
    justify-content: space-between;
    align-items: center;
    max-width: 90rem;
    width: 100%;
    padding: 0.438rem 0;
}

.header_input {
    width: 100%;
    max-width: 44rem;
    height: 2.688rem;
    background: #C4C4C4;
    border: none;
    outline: #FFDE59;
    padding: 1rem;
    border-radius: 0.7rem;
}

.header_logo {
    align-items: center;
}

.header_logo div {
    gap: 2.564rem;
}

.header_logo p {
    margin-left: 3.44rem;
}

.footer_container {
    width: 100%;
    justify-content: space-between;
    align-items: center;
    max-width: 90rem;
    padding: 0.438rem 0;
}

.footer_logo {
    flex-direction: column;
    align-items: center;
}

.footer_logo div {
    gap: 2.625rem;
    max-height: 1.625rem;
}

.footer_logo div img {
    height: 100%;
}

.main_container {
    width: 100%;
    flex-direction: column;
    max-width: 90rem;
    gap: 9.25rem;
}

.main_container p {
    display: flex;
    justify-content: flex-end;
}

.main_block {
    flex-direction: column;
}

.main_cards {
    justify-content: space-between;
    margin-top: 3rem;
}

.cards {
    width: 15.625rem;
    height: 11.25rem;
    background: #131A35;
    border-radius: 1.563rem;
}

